*{
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-size: 2vh;
    
}

hr{
    border: 2px solid grey;
}

header{
    padding: 2% 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.header{
    background-image: url("../Images/background.jpg");
}

.logo{
    width: 20%;
    height: 60px ;
}

.language{
    position: absolute;
    top: 18px;
    right: 125px;
    height: 28px;
    width: 65px;
    background: transparent;
    border-radius: 7px;
    border: 1px solid aliceblue;
}

.language:hover{
    background-color: grey;
}

.sign_in{
    position: absolute;
    top: 18px;
    right: 30px;
    height: 28px;
    width: 60px;
    background-color: rgb(243, 58, 58);
    border-radius: 7px;
    border: 0px;

}

.sign_in:hover{
    opacity: 90%;
}

.sign_in a{
    text-decoration: none;
}

.get_started{
    text-align: center;
    margin-top: 8%;
    padding-bottom: 15%;
}

.get_started .first{
    font-size: 10vh;
    font-weight: bold;

}

.get_started .second{
    font-size: 4vh;
}

.get_started .third{
    font-size: 2.5vh;
}

.first_input{
    width: 35%;
    height: 40px;
    font-size: 4vh;
    color: black;
}

.first_input_button{
    background-color: aliceblue;
    margin-left: -5px;
    width: 200px;
    height: 48px;
    background-color: rgb(252, 62, 62);
    font-size: 4vh;
    font-weight: bold;
}

.grid_box{
    background-color: skyblue;
    display: grid;
    grid-template-rows: repeat(1fr,1fr,1fr,1fr);
}

.first_box{
    padding: 5% 15% 5%;
    background-color: black;
    display: grid;
    grid-template-columns: 55% 45%;
}


.first_box_left{
    padding-top: 15%;
}

.one{
    font-size: 7vh;
}

.two{
    font-size: 4vh;
}

.second_box{
    padding-bottom: 5%;
    background-color: black;
    display: grid;
    grid-template-columns: 45% 55%;
}

.second_box_right{
    padding-top: 15%;
}

.FAQ{
    background-color: black;
    text-align: center;
}

.FAQ .faq_heading{
    font-size: 7vh;
    padding-top: 3%;
}

.question{
    margin-top: 5px;
    border: 2px solid rgb(63, 67, 67);
    border-radius: 5px;
    background-color: rgb(63, 66, 66);
    width: 50%;
    margin-left: 25%;
    font-size: 4vh;
    text-align: left;
    padding: 5px 0px 15px 10px;
 }

 .ready_to_watch{
    padding-top: 60px;
    font-size: 2.5vh;
    }

.padding{
    padding-bottom: 60px;
}

footer{
    padding-top: 4%;
    padding-left: 25%;
    background-color: black;
}

.questions_call{
    padding-bottom: 20px;
    }

.rows{
    display: flex;
    flex-direction: row;
}
.first_col{
    margin-bottom: 10px;
}

.rest_col{
    margin-left: 10%;
}

.languages{
    margin-top: 10px;
    height: 25px;
    width: 65px;
    background: transparent;
    border-radius: 7px;
    border: 1px solid aliceblue;
}

.languages:hover{
    background-color: grey;
}

.netflix_india{
    margin-top: 20px;
    padding-bottom: 20px;
}




@media all and (max-width:800px){
    .get_started .first{
        font-size: 7.5vh;
    }
    
    .get_started .second{
        font-size: 3vh;
    }
    
    .get_started .third{
        font-size: 1.87vh;
    }
    
    .first_input{
        font-size: 3vh;
    }
    
    .first_input_button{
        font-size: 3vh;
       }
    
    .one{
        font-size: 5.25vh;
    }
    
    .two{
        font-size: 3vh;
    }
    
    .FAQ .faq_heading{
        font-size: 5.25vh;
    }
    
    .question{
        font-size: 3vh;
    }
    
     .ready_to_watch{
        font-size: 1.87vh;
        }
      
    .sign_in{
        right: 22px;
    }

    .language{
        right: 100px;
    }
}


@media all and (max-width:500px){
    .get_started .first{
        font-size: 5vh;
    }
    
    .get_started .second{
        font-size: 2vh;
    }
    
    .get_started .third{
        font-size: 1.25vh;
    }
    
    .first_input{
        font-size: 2vh;
    }
    
    .first_input_button{
        font-size: 2vh;
       }
    
    .one{
        font-size: 3.5vh;
    }
    
    .two{
        font-size: 2vh;
    }
    
    .FAQ .faq_heading{
        font-size: 3.5vh;
    }
    
    .question{
        font-size: 2vh;
    }
    
     .ready_to_watch{
        font-size: 1.25vh;
        }
      
    .sign_in{
        right: 15px;
    }

    .language{
        right: 90px;
    }
}